// Custom styles.
html,
body,
span,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #656765;
}

h2 {
    font-size: 1.275em;
}

h3 {
    font-size: 1.2em;
}

body {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAACFJREFUeNpiZGBg4GegAsBlCD8TqSYNQg2Mo6FEBAAIMACdPABtrSW/IQAAAABJRU5ErkJggg==");
  background-repeat: repeat;
  background-attachment: fixed;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.04);
  min-height: 100vh;
  margin: 0;
  font-size: 1em; 
}

.sidebar-inner, .comments, .post-block, .sidebar, .header-inner, .site-brand-container{
    background: unset;
    box-shadow: unset;
}

.pagination{
    background: unset;
    border-radius: 10px !important;
}

.back-to-top{
    background: unset;
}

.site-brand-container {
    padding: 0 0px;
}

.archive .collection-title {
  display: none !important;
}

hr {
    background-image: none;
    border: 0;
    height: 3px;
    margin: 40px 0;
}

// 修改网站头部颜色
.headband {
    height: 3px;
    background: transparent;
}

.site-meta {
    padding: 20px 0;
    color: #2e405b;
    background: transparent;
}

// 站点名背景
.brand{
    background-color: rgba(0, 0, 0, 0);
    margin-top: 15px;
    padding: 0px;
}
// 站点名字体
.site-title {
    font-size: 2.5em;
    color: #49a6f5b3;
    line-height: 80px;
    letter-spacing: 3px;
}
// 站点子标题
.site-subtitle{
    margin: 0px;
    font-size: 21px;
    letter-spacing: 1px;
    padding-bottom: 3px;
    color: #58B2DC;
}

.site-author-name{
    font-family: "Architects Daughter";
    font-weight: 300;
    font-size: 35px;
    margin-bottom: -10px;
}

.site-description{
    font-family: "M PLUS Rounded 1c";
    font-size: 15px;
    font-weight: 300;
    color: #ff6d8f;
}

/*.site-state-item-count {
    color: #58B2DC;
}

.site-state-item-name {
    color: #81C7D4;
}*/

// 菜单
.menu {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 5px;
    box-shadow: 0px 10px 10px 0px #2e405b;
}
// 菜单超链接字体大小
.menu .menu-item a {
    font-size: 15px;
}
// 菜单各项边距
.menu .menu-item {
    margin: 5px 15px;
}
// 菜单超链接样式
.menu .menu-item a:hover {
    border-bottom-color: rgba(161, 102, 171, 0);
}
.menu a {
    background-color: rgba(0, 0, 0, 0);
    // color: #3A8FB7;
}

// 修改按键（button）样式
.btn {
    color: #656765;
    background: #0000;
    border: 2px solid #656765;
    border-radius: 7px;
}
// 按键（button）点击时样式
.btn:hover {
  color: #46a9fb;
  background: #0000;
  border: 2px solid #a1d4ff;
  border-radius: 7px;
}


// 修改选中字符的颜色
/* webkit, opera, IE9 */
::selection {
    background: #F8C3CD;
    color: #f7f7f7;
}
/* firefox */
::-moz-selection {
    background: #F8C3CD;
    color: #f7f7f7;
}

// 删除线
del {
  color: #656765;
  //background: #fbf7f8;
  margin: 3px;
}

//页脚
.footer-inner {color: #2e405b;}

/* 去掉图片边框 */
.posts-expand .post-body img {
    border: none;
    padding: 0px;
}
.post-gallery .post-gallery-img img {
    padding: 3px;
}

// Custom styles
// 页面最顶部的横线
.headband {
    height: 1.5px;
    background-image: linear-gradient(90deg, #A5DEE4 0%, #A5DEE4 100%);
}
// 页面顶部行高
.header {
    line-height: 1.5;
}

// 页面背景色
.container {
    background-color: rgba(0, 0, 0, 0);
}

// 表格奇数行
.highlight table>tbody>tr {
    &:nth-of-type(odd) {
        background-color: 	#E0EEE0;
    }
}

// 表格每一行鼠标经过时的颜色
table>tbody>tr {
    &:hover {
        background-color: #FEDFE1;
    }
}

// 表格的单元格
table td, table th {
    border-right: 1.5px solid #ddd;
    border: 1.5px solid #ddd;
    border-bottom: 1.5px solid #ddd;
}

// 文章内链接文本样式
.post-body p a{
    color: #E16B8C;
    border-bottom: none;
    border-bottom: 1px solid #E16B8C;
    &:hover {
        color: #F9BF45;
        border-bottom: none;
        border-bottom: 1px solid #F9BF45;
    }
}


// 代码块 styles.
code {
    color: #0f4c02ad;
    background: #fedfe138;
    margin: 4px;
    font-family: monospace;
    font-size: 20px;
    border-radius: 6px;
}

// 大代码块的自定义样式
.highlight, pre {
    margin: 6px 0;
    padding: 0px;
    font-family: monospace;
    font-size: 18px;
    background: #fedfe138;
}
span.line {color: #0f4c02ad;}
.highlight {
	border-radius: 5px;
}
.highlight, code, pre {
    //border: 1px solid #fedfe1a3;
}
.highlight .code pre {
    background-color: transparent;
}

.highlight .gutter pre{
    background-color: #fedfe142;
}

.highlight table>tbody>tr:nth-of-type(odd) {
    background-color: transparent;
}

//引用
blockquote{
    margin: 6px 0;
    color: #2e405b;
    border-left: 4px solid #FEDFE1;
    background-color: rgb(254, 242, 242);
    /* border-top-right-radius: 3px;
    border-bottom-right-radius: 3px; */
    margin-bottom: 20px;
	border-radius: 3px
}

//复制按钮
.copy-btn {
    color: #ff7600;
    background: #fff;
    border: 1px solid #ff7600;
}
.copy-btn:hover {
  border-color: #ff7600;
  color: #fff;
  background: #ff7600;
}

.posts-expand {
    padding-top: 10px;
}
// 文章元数据（meta）留白更改
.posts-expand .post-meta {
    margin: 10px 0px 20px 0px;
}
.posts-expand .post-meta time {
    border-bottom: none;
}
.post-category a{
	color: #49b1f5;
}
.post-category  a:hover {
    color: #fc6423;
}
.post-category a, .post-comments-count a {
	border-bottom: none;
}

.posts-expand .post.post-type-normal,.post-block{
	border-radius: 10px !important;
}

//文章主标题大小
.posts-expand .post-title {
    font-size: 37px;
    font-weight: 500;
}

// 鼠标移动至文章标题时的效果
 .posts-expand .post-title-link::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #49b1f5;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}
// 文章标题动态效果
//.posts-expand .post-title-link::before {
//    background-image: linear-gradient(90deg, #a166ab 0%, #ef4e7b 25%, #f37055 50%, #ef4e7b 75%, #a166ab 100%);
//}

// 文章标题字体
.posts-expand .post-title {
    font-size: 35px;
    font-weight: 500;
}

.post-title {
    font-size: 25px;
    font-weight: 500;
}

// 文章内标题样式（左边的竖线）
.post-body h1, .post-body h2, .post-body h3, .post-body h4, .post-body h5, .post-body h6 {
    border-left: 4px solid #fedfe1;
    margin-left: -5px;
    padding-left: 20px;
	border-bottom: none;
}

/* 标题 */
// 点进文章，文章的主标题
//.posts-expand 
article:only-of-type h1 {
    font-size: 33px;
}

/*
// 二级标题(移动终端分辨率)
@media (min-width: 768px) and (max-width: 991px) {
    .main .post-body h2 {
        margin: 20px -23px 15px -28px;
    }
}
@media (max-width: 767px) {
    .main .post-body h2 {
        margin: 20px -15px 15px -18px;
    }
}
*/

@media (min-width: 1200px){
    .post-body {
        font-size: 1.15em;
    }
}

@media (max-width: 991px){
	.post-body {
    font-size: 1.15em;
    }
}

@media (min-width: 992px){
	.post-body {
    text-align: justify;
    font-size: 1.15em;
    }
}

// 图片底下的描述性文字
.post-body .image-caption, .post-body .figure .caption {
    text-align: left;
}

//文章末尾本文链接
//.post-copyright a{
//    color: #0593d3;
//    border-bottom: none;
//    border-bottom: 1px solid #0593d3;
//    &:hover {
//        color: #fc6423;
//        border-bottom: none;
//        border-bottom: 1px solid #fc6423;
//    }
//}

// 文章底部的tags
.posts-expand .post-tags a {
    border-bottom: none;
    margin-right: 0px;
    font-size: 16px;
    padding: 0px 5px;
    border-radius: 3px;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}
.posts-expand .post-tags a:hover {
    background: transparent;
}
// 文章底部页面跳转
.post-nav-item a {
    color: #2e405b;
}
.post-nav-item a:hover {
    color: #F596AA;
    font-weight: bold;
}

.pagination .prev, .pagination .next, .pagination .page-number {
    border: none;
}
.pagination .prev:hover, .pagination .next:hover, .pagination .page-number:hover {
	background: #ccc;
	border-top-color: #fff;
}

// 时间轴左边线条
.posts-collapse::before {
    height: 102%;
    margin-left: -2px;
    background-image: linear-gradient(180deg,#FEDFE1 0,#FEDFE1 15%,#FEDFE1 30%,#FEDFE1 44%,#FEDFE1 58%,#FEDFE1 72%,#FEDFE1 86%,#FEDFE1 100%);
    top: 1.85em;
}
// 时间轴左边线条圆点颜色
.posts-collapse .collection-year::before {
    background-color: #a9d8ff;
	border: 1px solid #98d0ff;
    margin-left: -5px;
}

// 时间轴文章标题左边圆点颜色
.posts-collapse .post-header:hover::before {
    background-color: #c9e6ff;
}

.posts-collapse .post-header::before {
    background-color: #fff;
    margin-left: -3.9px
    margin-top: 10px;
    border: 1px solid #a9d8ff;
}

// archives页面时间轴左边线条第一个圆点颜色
.page-archive .posts-collapse .archive-move-on {
    top: 10px;
    opacity: 1;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.posts-collapse .collection-year {
    font-size: 2em;
    font-weight: bold;
    margin: 25px 0;
    position: relative;
}


.posts-collapse .post-header {
	border-bottom: none;
    margin: 20px 0;
}

.posts-collapse .collection-title::before {
	opacity: 1;
	background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 1px 1px #bdbdbd;
}
// 标签云页面
.tag-cloud-tags a {
	border-bottom: 2px solid;
}

.site-state-item {
    border-left: none;
}
.feed-link {
    border-top: none;
    border-bottom: none;
    text-align: center;
}

// 自定义的引用样式
blockquote.question {
    border-left: 4px solid rgb(16, 152, 173);
    background-color: rgb(227, 242, 253);
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    margin-bottom: 20px;
}

// 自定义的数字块
span#inline-toc {
    display: inline-block;
    border-radius: 80% 100% 90% 20%;
    background-color: rgb(227, 242, 253);
    color: #555;
    padding: 0.05em 0.4em;
    margin: 2px 5px 2px 0px;
    line-height: 1.5;
}

// 浏览器滚动条
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-thumb {
    background: #F8C3CD;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}

//手机导航栏图标颜色 

.site-nav-toggle .toggle .toggle-line, .site-nav-right .toggle .toggle-line {
    background: #bbb;
}

.toggle .toggle-line:not(:first-child) {
    margin-top: 3.5px;
}

.toggle .toggle-line {
    height: 2px;
    left: 10px;
    top: 7px;
}

//分割线
hr {
    margin: 32px 0;
    height: 3px;
    background-color: #fedfe1;
}

.post-body h1 {
    border-bottom: 1px solid #fedfe1;
}

.post-toc ol {
    font-size: 18px;
}

.site-state-item-count {
    font-size: 20px;
}

.site-state-item-name {
    font-size: 16.25px;
}

.links-of-author a, .links-of-author span.exturl {
    font-size: 20px;
}

.links-of-blogroll-title {
    font-size: 15px;
}

.links-of-blogroll {
    font-size: 16.25px;
}

.sidebar-nav li {
    font-size: 13.5px;
}

.nav-text{
    font-size: 15px;
}


mjx-container [width="full"] {
    margin-top: 0.1em;
    margin-bottom: 0.1em;
}

mjx-container[jax="CHTML"][display="true"], .has-jax {
  min-width: 100% !important;
}

mjx-mtd:last-child {
    padding-top: 0.3em !important;
    padding-bottom: 0.3em !important;
}

.use-motion .post-block, .use-motion .pagination, .use-motion .comments {
    opacity: 0;
    box-shadow: 0 0px 2px 0 #0000001f, 0 3px 1px -2px #0000000f, 0 1px 5px 0 #0000001f, 0 -1px 0.5px 0 #00000017;
}

控制评论模块边框弧度
.comments {
    border-radius: 10px !important;    
}

//取消主页边框
.post-block + .post-block {
    //box-shadow: unset;
}


//主页文章标题悬浮
.posts-expand .post-title-link::before {
    background-color: #f4a7b9;
}

.content {
    padding-top: 40px;
}

//code font
code {
    font-size: 1.15em; 
}

//valine
// .v[data-class=v] .status-bar, .v[data-class=v] .veditor, .v[data-class=v] .vinput, .v[data-class=v] p, .v[data-class=v] pre code
// {
//     color = #656765 !important;
// }

.v[data-class=v] .status-bar, .v[data-class=v] .veditor, .v[data-class=v] .vinput, .v[data-class=v] p, .v[data-class=v] pre code {
color: #656765 !important;
}

//友链格式控制
// .friendsphoto{
//     float:left;
//     width:20%;
// }

// .friendsintro{
//     float:right;
//     width:80%;
// }